<!DOCTYPE root[<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-23T18:33:16" updateDate="2015-04-23T18:33:19" nodeName="home" urlName="home" path="-1,1052" isDoc="" nodeType="1051" creatorName="Andriy" writerName="Andriy" writerID="0" template="1050" nodeTypeAlias="Home" />
</root>